{% load static %}
{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="ko" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link rel="stylesheet" href="{% static '/css/style.css'%}">
<title>고객사정보</title>
</head>

<body>

<class="common-code-container">
&nbsp; 고객사명&nbsp;&nbsp; <input name="Text1" type="text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input name="btnSearch4" style="width: 54px" type="button" value="조회" />&nbsp;
	<input name="btnSearch0" style="width: 54px" type="button" value="신규" />&nbsp;
	<input name="btnSearch2" style="width: 52px" type="button" value="삭제" />&nbsp;
	<input name="btnSearch3" style="width: 54px" type="button" value="저장" />&nbsp;
    </div>	
</div>
<p style="height: 2px">&nbsp;</p>
<table class="ms-prof-main">
	<!-- fpstyle: 36,111111100 -->
	<tr>
		<td class="auto-style3" style="width: 123px">고<strong>객사ID</strong></td>
		<td class="auto-style3" style="width: 127px">고객사명</td>
		<td class="auto-style3" style="width: 273px"><strong>고객사 정보</strong></td>
		<td class="auto-style3" style="width: 114px">대표번호</td>
		<td class="auto-style3" style="width: 235px"><strong>주소</strong></td>
		<td class="auto-style3" style="width: 65px"><strong>담당자</strong></td>
		<td class="auto-style3" style="width: 76px">이메일</td>
		<td class="auto-style3" style="width: 106px">연락처</td>
	</tr>
	<tr>
		<td class="ms-prof-left" style="width: 123px; height: 21px"></td>
		<td class="ms-prof-even" style="width: 127px; height: 21px"></td>
		<td class="ms-prof-even" style="width: 273px; height: 21px"></td>
		<td class="ms-prof-even" style="width: 114px; height: 21px"></td>
		<td class="ms-prof-even" style="width: 235px; height: 21px"></td>
		<td class="ms-prof-even" style="width: 65px; height: 21px"></td>
		<td class="ms-prof-left" style="height: 21px; width: 76px"></td>
		<td class="ms-prof-left" style="width: 106px; height: 21px"></td>
	</tr>
	<tr>
		<td class="ms-prof-left" style="width: 123px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 127px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 273px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 114px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 235px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 65px">&nbsp;</td>
		<td class="ms-prof-left" style="width: 76px">&nbsp;</td>
		<td class="ms-prof-left" style="width: 106px">&nbsp;</td>
	</tr>
	<tr>
		<td class="ms-prof-left" style="width: 123px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 127px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 273px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 114px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 235px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 65px">&nbsp;</td>
		<td class="ms-prof-left" style="width: 76px">&nbsp;</td>
		<td class="ms-prof-left" style="width: 106px">&nbsp;</td>
	</tr>
	<tr>
		<td class="ms-prof-left" style="width: 123px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 127px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 273px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 114px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 235px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 65px">&nbsp;</td>
		<td class="ms-prof-left" style="width: 76px">&nbsp;</td>
		<td class="ms-prof-left" style="width: 106px">&nbsp;</td>
	</tr>
	<tr>
		<td class="ms-prof-left" style="width: 123px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 127px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 273px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 114px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 235px">&nbsp;</td>
		<td class="ms-prof-even" style="width: 65px">&nbsp;</td>
		<td class="ms-prof-left" style="width: 76px">&nbsp;</td>
		<td class="ms-prof-left" style="width: 106px">&nbsp;</td>
	</tr>
</table>
<p style="height: 2px"><br />
</p>
<form action="" method="post">
	고객사ID&nbsp;&nbsp; <input name="Text3" type="text" />&nbsp;&nbsp;&nbsp; 고객사명&nbsp;&nbsp;
	<input name="Text2" style="width: 263px" type="text" />&nbsp;&nbsp; <br />
	<br />
	고객정보&nbsp;&nbsp;
	<input class="auto-style4" name="Text6" style="width: 762px" type="text" />&nbsp;&nbsp;
	<br />
	<br />
	대표번호&nbsp;&nbsp; <input name="Text8" style="width: 159px" type="text" />&nbsp;&nbsp;&nbsp; 
	주&nbsp; 소&nbsp;&nbsp; <input name="Text9" style="width: 523px" type="text" />&nbsp;&nbsp;
	<br />
	<br />
	담당자명&nbsp;&nbsp; <input name="Text11" style="width: 159px" type="text" />&nbsp;&nbsp;&nbsp; 
	이메일&nbsp;&nbsp; <input name="Text12" style="width: 263px" type="text" />&nbsp;&nbsp; 
	연락처&nbsp;&nbsp;
	<input name="Text13" style="width: 169px; height: 22px" type="text" /> <br />
	<br />
	비&nbsp;&nbsp;&nbsp; 고&nbsp;&nbsp;
	<input name="Text14" style="width: 762px" type="text" /> <br />
</form>

</body>

</html>
{% endblock %}