{% extends "base.html" %}
 
{% block title %}{{ model_name }} 수정{% endblock title %}
 
{% block content %}
<div class="col-md-12">
    <h4>{{ model_name }} 데이터 수정</h4>  
 <form method="POST" class="post-form" action="{% url 'adminpage:dynamic_edit' model_name obj.pk %}">  
   {% csrf_token %}  
  <div class="container">  
 <br>  
  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <h3>수정 내용</h3>  
  </div>  
   </div>  

   {% for field in form %}
   <div class="form-group row">  
  <label class="col-sm-2 col-form-label">{{ field.label }}</label>  
  <div class="col-sm-4">  
    {{ field }}  
  </div>  
   </div>  
   {% endfor %}

  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <button type="submit" class="btn btn-success">업데이트</button>  
  </div>  
   </div>  
  </div>  
 </form>  
</div> 
{% endblock content %}
